body {
  background-color: #F0F8FF;
  font-family: 'Advent Pro', sans-serif;
  font-family: 'Alegreya Sans', sans-serif;
  font-family: 'Bebas Neue', cursive;
  font-family: 'BIZ UDPGothic', sans-serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Radio Canada', sans-serif;
  font-family: 'Rajdhani', sans-serif;
  font-family: 'Secular One', sans-serif;
  font-family: 'Work Sans', sans-serif;
}
.flex-container {

}
h1 {
  color: dodgerblue;
  background-color: #DCDCDC;
  box-shadow: 10px 5px 5px #20B2AA;
  text-align: center;
  width: 500px;
  height: 50px;
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: linear;
}
h1:hover {
  width: 300px;
  height: 50px;
  box-shadow: 10px 5px 5px #20B2AA;
}
p {
  font-family: sans-serif;
  font-size: 20px;
}
.title {
  font-style: normal;
  font-family: serif;
  font-size: 27px;
  text-align: center;
}
#menubar {
  position: relative;
  font-family: arial;
  font-size: 16px;
  text-align: center;
  list-style-type: square;
  text-align: center;
  display: flex;
  margin: auto;
  padding: 16px;
  font-weight: bold;
  width: 600px;
  overflow: visible;
  border-right: 8px;
  background-color: #48D1CC
}
.container {
  display: inline-block;
  justify-content: space-between;
}
a {
  font-weight: 500;
  font-size: 30px;
  color: #0000CD;
  text-decoration: none;
  background: lightblue;
  transition: all 1s ease-out;
}
a:hover {
  background-color: #fff;
  color: #FF0000;
}
.nav-icon {
  display: inline-block;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #48D1CC;
  padding: 0;
  margin: 10px 50px;
  height: 50px;

}
.maincontent {
  font-family: arial;
  text-align: justify;
  text-decoration: inherit;
}
li {
  transition-property: font-size;
  transition-duration: 2s;
}
li:hover {
  font-size: 3em;
}
section {
 border: 24px solid dodgerblue;
 border-radius: 44px;
 padding: 5px;
 padding: 1em;
 margin: 1em;
 font-weight: bold;
 color: #000080;

}
aside {
  width: 50%;
  float: left;
  display: inline;
  position: fixed;
  bottom: 13px;
  right: 5px;
  width: 220px;
  height: 700px;
  border: 5px solid #73AD21;
}
.sideinfo {
  background-color: lightblue;
  color: blue;
  text-align: center;
}
h3 {
  text-align: center;
  background-color: lightblue;
}
li {
  font-size: 25px;
}
footer {
  width: 120%;
  background-color: #D8BFD8;
  clear: both;
}
.vocabulary {
  background-color: lightblue;
  color: black;
  text-align: left;
}
